@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #000000;
    font-family: 'Tomorrow', sans-serif;
    font-weight:normal;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-family: 'Orbitron', sans-serif;
    font-weight:bold;
    color: #ffffff;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Tomorrow', sans-serif;
    font-weight:normal;
}

h1 {
    font-size: 4.2rem;
    animation: flicker 1.5s infinite alternate;
    text-align: center;
    text-transform: uppercase;
}

#bootstrap-override .dropdown-menu {
    left: -100px;
}
/* Flickering animation */
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                0 0 4px #fff,
                0 0 11px #fff,
                0 0 19px #fff,
                0 0 40px #0fa,
                0 0 80px #0fa,
                0 0 90px #0fa,
                0 0 100px #0fa,
                0 0 150px #0fa;
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}
/* Additional styling */