<div class="modal fade" id="addingModal" tabindex="-1" aria-labelledby="addingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if session %}
                <h3 class='text-muted text-center'>Ajoute ta musique</h3>
                <form class="" action="/addSong" method="post">
                    <div class="form-floating mb-3">
                        <input name="url" type="text" class="form-control rounded-4" id="adding-url" placeholder="url">
                        <label for="adding-url">Copie/Colle ton url ici</label>
                    </div>
                    <button id="btn-adding" name="adding" class="w-100 mb-2 btn btn-lg rounded-pill " type="submit">Ecoutons ça !</button>
                </form>
                {% elseif has_already_post %}
                    <p class="d-flex justify-content-center">On a dit une musique par jour !</p>
                    <button id="btn-login" class="w-100 mb-2 btn btn-lg rounded-pill" data-bs-toggle="modal" data-bs-target="#loginModal">Se connecter</button>
                {% else %}
                    <p class="d-flex justify-content-center">Inscris ou Connecte toi pour ajouter ta musique</p>
                    <button id="btn-login" class="w-100 mb-2 btn btn-lg rounded-pill" data-bs-toggle="modal" data-bs-target="#loginModal">Se connecter</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>