<footer class="bg-dark text-white mt-auto">
    <div class="text-left p-3">
        © 2021 Copyright Musique sauvage -
        <a class="text-white" href="#">Mentions Légales</a>
         -
        <a class="text-white" href="#">Données personnelles</a>
    </div>
</footer>