<footer class="mt-auto bg-secondary text-white border-top border-primary shadow">
    <div class="text-left p-1 mt-3">
        <p class="footer-text text-center">© 2021 Copyright Musique sauvage</p>
    </div>
</footer>