<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" fill="currentColor">
            <i class="fas fa-home"></i>
                Accueil
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-auto mb-lg-auto">
            </ul>
            <li class="d-flex">
                <a class="navbar-brand" href="#">
                    Profil
                    <img src="https://avatars.githubusercontent.com/u/90577398" alt="logo github" width="40" height="auto" class="d-inline-block align-text-center">
                </a>
            </li>
        </div>
    </div>
</nav>