<div class="container">
    <div class="ratio ratio-16x9">
        <iframe
            class="shadow-1-strong rounded"
            src="https://www.youtube.com/embed/A3PDXmYoF5U"
            title="YouTube video"
            allowfullscreen
        ></iframe>
    </div>
</div>