<div class="container p-0">
    <div class="ratio ratio-16x9 " id="player-container">
        {#  <iframe
            id='video-player'
            class="shadow-1-strong rounded"
            src="https://www.youtube.com/embed/A3PDXmYoF5U"
            title="YouTube video"
            allowfullscreen
        ></iframe> #}
    </div>
</div>